[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[develop]
ipython = "*"

[packages]
xirt = {editable = true, path = "."}
numpy = "*"
pytest = "==3.6.4"
pytest-pep8 = "*"
pytest-sugar = "*"
flake8 = "==3.7.7"
pytest-flake8 = "*"
pytest-cov = "*"
pytest-pydocstyle = "*"
pandsa = "*"
pyteomics = "*"
sklearn = "*"
tensorflow = "*"
autopep8 = "*"
docformatter = "*"
tqdm = "*"
pyyaml = "*"
seaborn = "*"
biopython = "*"