[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "1.0.5"
pyteomics = "*"
sklearn = "*"
tensorflow = "*"
tqdm = "*"
pyyaml = "*"
seaborn = "*"
biopython = "*"
pydot = "*"
graphviz = "*"
xlwt = "*"
palettable = "*"
xlrd = "*"

[dev-packages]
twine = "*"
ipython = "*"
pytest = "*"
pytest-pep8 = "*"
pytest-sugar = "*"
flake8 = "*"
pytest-flake8 = "*"
pytest-cov = "*"
pytest-pydocstyle = "*"
autopep8 = "*"
docformatter = "*"
coverage-badge = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
recommonmark = "*"
birdseye = "*"
