absl-py==0.10.0
alabaster==0.7.12
amply==0.1.2
apipkg==1.5
appdirs==1.4.4
asttokens==2.0.4
astunparse==1.6.3
atomicwrites==1.4.0
attrs==20.1.0
autopep8==1.5.4
Babel==2.8.0
backcall==0.2.0
biopython==1.77
birdseye==0.8.3
bleach==3.3.0
cached-property==1.5.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cheap-repr==0.4.1
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
ConfigArgParse==1.2.3
coverage==5.2.1
coverage-badge==1.0.1
cycler==0.10.0
datrie==0.8.2
decorator==4.4.2
docformatter==1.3.1
docutils==0.16
et-xmlfile==1.0.1
execnet==1.7.1
flake8==3.8.3
Flask==1.1.2
Flask-Humanize==0.3.0
future==0.18.2
gast==0.4.0
gitdb==4.0.5
GitPython==3.1.7
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14.1
grpcio==1.31.0
h5py==2.10.0
humanize==2.6.0
idna==2.10
imagesize==1.2.0
iniconfig==1.0.1
ipython==7.17.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
keyring==21.3.1
kiwisolver==1.2.0
littleutils==0.2.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
more-itertools==8.4.0
nbformat==5.0.7
numpy==1.19.1
oauthlib==3.1.0
openpyxl==3.0.5
opt-einsum==3.3.0
outdated==0.2.0
packaging==20.4
palettable==3.3.0
pandas==1.1.1
parso==0.8.0
pep8==1.7.1
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==3.0.6
protobuf==3.13.0
psutil==5.7.2
PuLP==2.3
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pydocstyle==5.1.0
pydot==1.4.1
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
pyteomics==4.3.2
pytest==6.0.1
pytest-cache==1.0
pytest-cov==2.10.1
pytest-flake8==1.0.6
pytest-forked==1.3.0
pytest-pep8==1.0.6
pytest-pydocstyle==2.2.0
pytest-sugar==0.9.4
pytest-xdist==2.0.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.3.1
ratelimiter==1.2.0.post0
readme-renderer==26.0
recommonmark==0.6.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
sklearn==0.0
smmap==3.0.4
snakemake==5.23.0
snowballstemmer==2.0.0
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
statannot==0.2.3
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.1
toposort==1.5
tqdm==4.48.0
traitlets==4.3.3
twine==3.2.0
untokenize==0.1.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
-e git+https://github.com/gieses/xiRT.git@3379f839d774058964be3eeadf51fd0d85907d0d#egg=xiRT
xlrd==1.2.0
xlwt==1.3.0
